td {
    display:grid;
    padding-bottom: calc(100% / 9); 
    float: left;
    border: 1px solid #000;
    box-sizing: border-box;
    grid-template-columns: repeat(9, 5px);
    margin:1px;
    cursor:crosshair;
};

